<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>edit product no.{{id}}</title>
</head>
<body>
  <form  method="POST" action="/sanpham/change-in4">
    <p>{{title}}</p>
    <p>
      <input type="hidden" name="idSP" value="{{details.id}}">
    </p>
    <hr>
    <label for="name">Product Name: </label>
    <input type="text" id="name" name="nameSP" value="{{details.name}}">
    <hr>
    <label for="price">Price: </label>
    <input type="number" id="price" name="priceSP" value="{{details.price}}">
    <hr>
    <button type="submit">Edit</button>
  </form>
</body>
</html>
